<section class="text-center login bg-dark animated fadeIn">
    <main class="form-signin">
        <form _lpchecked="1">

            <h1 class="h3 mb-3 fw-normal text-white-50">Iniciar Session</h1>

            <!-- USER -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Usuario">
                <label for="floatingInput">Usuario</label>
            </div>
            <!-- USER -->
            <!-- PASSWORD -->
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <!-- PASSWORD -->

            <!-- BUTTON LOGIN -->
            <button class="w-100 btnW waves-effect waves-light m-0 btn-lg btn-primary mt-4" type="button">Entrar</button>
            <!-- BUTTON LOGIN -->

            <p class="mt-5 mb-3 text-muted">© Discovery Sistems Pos - {{ year }}</p>
        </form>
    </main>
</section>