<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="ticket1-tab"><i class="bi-gear" style="font-size: 1rem"></i> Tablero Principal</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid my-2">

    <!-- CONFIGURACIONES GENERALES -->
    <div class="p-2 border-bottom border-top my-2">
        <h4 class="mb-2 text-muted">General</h4>
        <div class="d-flex flex-wrap">
            <div class="p-2">
                <button routerLink="./usuarios" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-people" style="font-size: 1.5rem;"></i> 
                    <h5>Usuarios</h5>
                </button>
            </div>
            <div class="p-2">
                <button routerLink="./caja" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-laptop" style="font-size: 1.5rem;"></i> 
                    <h5>Cajas</h5>
                </button>
            </div>
        </div>
    </div>
    <!-- CONFIGURACIONES GENERALES -->




</div>
<!-- =========================================================================
    BODY 
========================================================================= -->