<header class="bg-dark py-2">
    <div class="container">
        <div class="bg-dark clearfix">
            <a class="navbar-brand float-start text-white" href="#">Discovery Systems Pos</a>

            <!-- BTN USER -->
            <div class="dropdown float-end">
                <button class="btn text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person text-white-50" style="font-size: 1.5rem;"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item cursor" (click)="logout()">Salir</a></li>
                </ul>
            </div>
            <!-- BTN USER -->
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0" aria-label="Eighth navbar example">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link btnW waves-effect waves-light" aria-current="page" href="#">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnW waves-effect waves-light" href="#">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnW waves-effect waves-light" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnW waves-effect waves-light" href="#">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnW waves-effect waves-light" href="#">Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnW waves-effect waves-light" href="#">Configuracion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnW waves-effect waves-light" href="#">Facturas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>