.bg-header-green {
    background-color: rgba(76, 175, 80, 1);
    background-image: linear-gradient(135deg, rgba(76, 175, 80, 1) 0%, rgba(255, 255, 255, 0.8) 80%);
}

.bg-header-dark {
    background-color: rgba(33, 37, 41, 1);
    background-image: linear-gradient(135deg, rgba(33, 37, 41, 1) 0%, rgba(255, 255, 255, 0.8) 80%);
}

.bg-header-yellow {
    background-color: rgba(246, 192, 101, 0.8);
    background-image: linear-gradient(135deg, rgba(246, 192, 101, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%);
}

.bg-header-blue {
    background-color: rgba(21, 62, 144, 0.8);
    background-image: linear-gradient(135deg, rgba(21, 62, 144, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%);
}